
body {
    font-family: "Manrope", sans-serif;
}

.button-black {
    border: 1px solid #1e1f22;
    border-radius: 8px;
    background-color: #1e1f22;
    color: #fff;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration: none;
}

.button-orange {
    border: 1px solid #ff6b35;
    border-radius: 8px;
    background-color: #fff;
    color: #ff6b35;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.button-orange:hover {
    background-color: #ffc7b1;
    color: #ff6b35;
}

.button-search {
    background-color: #ff6e3c !important;
}

.button-search:hover {
    background-color: #ff5b20 !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    width: 280px;
}

.dropdown-item {
    font-size: 15px;
}

.text-orange {
    color: #ff6523;
    font-size: 27px;
    margin-right: 8px;
}

li > a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.footer-list {
    line-height: 35px;
}

.bg-search {
    background-color: #FFF7F0;
}

.form-title {
    margin-left: 120px;
}

.form-create-real-estate {
    background-color: #FFF7F0;
}

.sale {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.lease {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.handle-submit {
    bottom: 0;
    position: sticky;
    box-shadow: rgba(182, 182, 182, 0.18) 0 -2px 8px ;
}

.back-to-home {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #bebebe !important;
}

.back-to-home:hover {
    background-color: #eeeeee !important;
}

.address-section {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.address-section strong {
    font-weight: bold;
}

.address-section span {
    display: block;
    margin-bottom: 3px;
}

