.headerUser{
    color: #FC650B;
}

.notification {
    color: #FC650B;
    cursor: pointer;
}

.notification:hover {
    background-color: #e8e8e8;
}

.user {
    top: 7px;
}

.user li {
    cursor: pointer;
}

.logout, .logout i {
    color: #cc0303 !important;
}

.logout:hover {
    opacity: 0.8;
}

.userList ul li i {
    width: 20px;
    margin-right: 14px;
}

.link, .logout {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.link:hover {
    background-color: #dfdfdf;
    border-radius: 4px;
    color: #FC650B;
}

.logout:hover {
    background-color: #dfdfdf;
    border-radius: 4px;
}

.userList {
    top: 150%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    z-index: 1000;
    transition: 0s;
    width: 230px;
    white-space: nowrap;
}

.userList:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 10%;
    top: 0;
    transform: translateY(-100%);
}

.userList h6 {
    color: #FC650B;
}

.user:hover .userList {
    display: block;
    opacity: 1;
    visibility: visible;
    top:120%;
    transition: 0.3s;
}

.loginBtn {
    background-color: #FC650B;
    border-radius: 8px;
    color: #fff;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #ff7f34;
    color: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateX(2px);
}

.notificationList {
    top: 160%;
    right: -50%;
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 100;
    min-width: 300px;
    white-space: nowrap;
    padding: 14px;
}

.notificationList:before {
    content: "";
    position: absolute;
    border:  8px solid transparent;
    border-bottom-color: #fff;
    transform: translateY(-100%);
    top: 0;
    right: 9%;
}