.notification-container-ky {
    padding: 20px;
}

.search-bar-ky {
    height: 45px;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.article {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.article-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.article-content {
    flex: 1;
}

.article-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.article-date {
    color: #888;
}

.article-description {
    margin-top: 10px;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-link img {
    display: block;
}

.article-link:hover {
    text-decoration: underline;
    color: #ff5722;;
}

.article-image {
    transition: transform 0.3s ease;
}

.article-image:hover {
    transform: scale(1.1)   ;
}

#color-button-btn {
    background-color: #ff5722;
    color: white;
    width: 150px;
    height: 45px;
}

.button-orange:hover {
    background-color: #ff5722;
    color: white;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pagination-controls .button-orange {
    background-color: rgba(245, 166, 35, 0);
    color: #ff5722;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border: #ff5722 solid 1px;
}

.pagination-controls .button-orange.active {
    background-color: #ff5722;
    color: white;
    border: 1px solid #e67e22;
}

.pagination-controls .button-orange:hover {
    background-color: #f39c12;
    color: white;
}

.pagination-controls .button-orange:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
