.pagination-custom .page-item.active .page-link {
    background-color: #ff6b35;
    border-color: #ff6b35;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    padding: 8px 12px;
}

.pagination-custom .page-link {
    color: #ff6b35;
    border: none;
    margin: 0 3px;
}

.pagination-custom .page-item:hover .page-link {
    background-color: #ffc107;
    color: white;
    border-radius: 50%;
}

.pagination-custom .page-link:focus {
    outline: none;
    box-shadow: none;
}