
.description {
    font-size: 16px;
    color: #333;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.property-features {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.property-features ul {
    padding-left: 0;
}

.property-features li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.property-features .icon {
    font-size: 20px;
    margin-right: 10px;
}

.property-features .text-muted {
    color: #6c757d;
    font-weight: 500;
}

.background-real-estate-detail {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.image-real-estate-detail{
    object-fit: cover;
    backdrop-filter: blur(5px);

}

.active-image {
    border: #1e1f22 solid 2px;
    border-radius: 6px;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.icon-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 115% !important;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;

    width: max-content;
    font-size: 12px;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.icon-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.bi-heart-fill {
    color: red;
}