
.description {
    font-size: 16px;
    color: #333;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.property-features {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.property-features ul {
    padding-left: 0;
}

.property-features li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.property-features .icon {
    font-size: 20px;
    margin-right: 10px;
}

.property-features .text-muted {
    color: #6c757d;
    font-weight: 500;
}

.background-real-estate-detail {
    background-image: url(https://file4.batdongsan.com.vn/resize/1275x717/2023/10/19/20231019104327-6df8_wm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.image-real-estate-detail{
    backdrop-filter: blur(5px);
}