.search-bar-container {
    position: relative; /* Đảm bảo thanh tìm kiếm cố định ở trên cùng */
    top: 0; /* Cố định ở đầu trang */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Nền mờ */
    z-index: 1050; /* Cao hơn carousel */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng nhẹ */
}


.search-bar-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tab {
    padding: 10px 15px;
    border: none;
    background-color: #f8d9d9;
    color: #642828;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background-color: #ff6523;
    color: white;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 15px;
    background-color: #181b18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}